html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem=10px; 10px/16px=62.5%
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: auto;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 1.5;
}